.o-form-project-tasks.o-form-editable .oe-title {
  max-width: initial;
}

.o-form-project-tasks.o-form-editable .oe-title .o-task-name {
  /*
   * should be (coming from addons/web/static/src/legacy/scss/form_view.scss):
   * max-width: map-get($container-max-widths, md) - (2 * $o-horizontal-padding);
   */
  max-width: 688px;
  margin-right: auto;
}

.o-form-project-tasks .note-editable {
  border: 0;
}
.o-form-project-tasks .o-wysiwyg-resizer {
  border: 0;
  margin: 0 0px -40px 0px;
}
.o-form-project-tasks .o-form-sheet, .o-form-project-tasks .oe-form-field-html, .o-form-project-tasks .o-wysiwyg-wrapper {
  margin-bottom: 0 !important;
}

.o-kanban-project-tasks .oe-kanban-align.badge {
  background: inherit;
  color: inherit;
  border: 1px solid var(--success);
}

.o-kanban-project-tasks .oe-kanban-align.badge-warning {
  border-color: var(--warning);
}

.o-kanban-project-tasks .oe-kanban-align.badge-danger {
  border-color: var(--danger);
}

.o-kanban-project-tasks .o-field-one2many-sub-task {
  margin-top:2px;
  margin-right: 6px;
}

.o-form-project-tasks .ribbon:not(.o-invisible-modifier) + div > h1 > div[name="kanbanState"] {
  margin-right: 150px;
  padding-left: 1rem;
}

.o-form-project-recurrence-message *:last-child {
  margin-bottom: 0;
}

.o-project-portal-warning-dl {
    width: 100%;
    padding: 0;
    margin: 0
}
.o-project-portal-warning-dt {
    width: 4%;
    float: left;
}
.o-project-portal-warning-dd {
    width: 96%;
    float: left;
}
