// Retrive the tab's height by summ its properties
$owprofile-tabs-height: ($nav-link-padding-y*2) + ($font-size-base * $line-height-base);

// Overal page bg-color: Blend it 'over' the color chosen by the user
// ($body-bg), rather than force it replacing the variable's value.
$owprofile-color-bg: mix($body-bg, #efeff4);

.o-wprofile-body {
    background-color: $owprofile-color-bg;
}

.o-wprofile-gradient {
    background-image: linear-gradient(120deg, #875A7B, darken(#875A7B, 10%));
}

.o-wprofile-pict {
    @include size(100%);
    padding-top: 30%;
    background-size: cover;
    background-position: center;

    @include media-breakpoint-up(md)  {
        padding-top: 70%;
        border: 1px solid darken(#875A7B, 10%);
        border-bottom-width: 0;
    }
}

.o-wprofile-header {
    @include media-breakpoint-up(md)  {
        &:before {
            content: "";
            @include o-position-absolute(auto, 0, 0, 0);
            height: $owprofile-tabs-height;
            background: rgba(black, 0.2);
        }
    }
}

.o-wprofile-sidebar {
    border: 1px solid $border-color;

    @include media-breakpoint-up(md) {
        border-top-width: 0;
    }
}

.o-wprofile-nav-tabs {
    @include media-breakpoint-up(md)  {
        margin-top: $owprofile-tabs-height * -1;
        border-bottom: 0;

        .nav-link {
            border-radius: 0;
            border-width: 0 1px;
            line-height: $line-height-base;
            @include o-hover-text-color(rgba(white, 0.8), white);

            & {
                border-color: transparent;
            }
    
            &:hover {
                border-color: transparent;
                background: #3d2938;
            }

            &.active {
                color: color-yiq($owprofile-color-bg);
                background: $owprofile-color-bg;
                border-color: $owprofile-color-bg;
            }
        }
    }

    @include media-breakpoint-only(xs) {
        overflow-x: auto;
        overflow-y: hidden;

        li {
            white-space: nowrap;
        }
    }
}

.o-wprofile-tabs-content {
    @include media-breakpoint-down(sm) {
        background-color: $nav-tabs-link-active-bg;
        padding:0 ($grid-gutter-width * 0.5);
    }

    @include media-breakpoint-only(xs) {
        margin: 0 ($grid-gutter-width * -0.5);
    }
}

/// Progress Circle
.o-wprofile-progress-circle {
    position: relative;

    svg.o-pc-circular-chart {
        display: block;
        max-width: 100%;

        .o-pc-circle-bg, .o-pc-circle {
            fill: none;
            stroke-width: 1.5px;
            stroke-linecap: round;
        }

        .o-pc-circle-bg {
            stroke: rgba(black, 0.1);
        }

        .o-pc-circle {
            animation: progress 1s ease-out forwards;
        }

        #gradient {
            --o-pc-color-stop-1: #{lighten(theme-color('primary'), 10%)};
            --o-pc-color-stop-2: #{theme-color('primary')};
        }
    }

    .o-pc-overlay {
        @include o-position-absolute(0,0,0,0);
    }

    @keyframes progress {
        0% {
            stroke-dasharray: 0 100;
        }
    }
}

// All Users Page
.o-wprofile-all-users-nav {
    border-width: 1px 0;

    &, .o-wprofile-course-nav-search, .o-wprofile-all-users-nav-btn {
        background-color: rgba(white, 0.05);
        border-color: rgba(white, 0.1);
        border-style: solid;
    }

    .o-wprofile-course-nav-search, .o-wprofile-all-users-nav-btn {
        border-width: 0 1px;
    }

    .o-wprofile-all-users-nav-btn {
        @include media-breakpoint-up(md) {
            @include o-hover-text-color(white, $gray-800);
            margin-top: -1px;
            border-radius: 0;
            min-height: 35px;

            &:hover {
                background-color: white;
            }
        }
    }

    .o-wprofile-all-users-nav-btn-container {
        @include media-breakpoint-down(sm) {
            ~ .o-wprofile-user-profile-sub-nav-mobile-col {
                padding-left: 0;
            }

            .o-wprofile-all-users-nav-btn {
                @include o-hover-text-color(white, white);
                border-radius: $btn-border-radius;
                background-color: rgba(black, 0.25);
            }
        }
    }

    .breadcrumb-item.active a, .breadcrumb-item a:hover {
        color: white;
    }

    .breadcrumb-item a, .breadcrumb-item + .breadcrumb-item::before, .o-wprofile-course-nav-search input::placeholder {
        color: rgba(white, 0.8);
    }
}

.o-wprofile-top3-card-footer div {
    border-color: $border-color;
    border-style: solid;
    border-width: 1px 0;
    margin-top: -1px;

    + div {
        border-left-width: 1px;
        margin-left: -1px;
    }
}

.o-wprofile-pager {
    li.page-item {
        a.page-link {
            background-color: transparent;
            border: 0;
            color: $gray-600;
            transition-duration: .3s;

            &:hover {
                color: $primary;
            }
        }

        &.active {
            a.page-link {
                color: $white;
            }
        }

        &.o-wprofile-pager-arrow a {
            color: $primary;

            &:hover {
                transform: scaleX(1.50) scaleY(1.50);
            }
        }

        &.o-wprofile-pager-arrow.disabled a {
            color: $gray-600;
        }

        .page-link:focus {
            box-shadow: 0 0 0 0;
        }
    }
}

.wprofile-badge-img {
    height: 2.5em;
}


// Other stuffs
.country-flag {
    display: inline-block;
    margin-left: 2px;
    max-height: 13px;
    width: auto !important;
}

// Tools
.o-wprofile-pointer {
    cursor: pointer;
}

// Own profile border
.o-wprofile-border-focus {
    border-left: 4px solid theme-color('secondary');
}
