.o-event-foldable-badge-container {
    .o-event-foldable-badge-top {
        height: 148mm;

        &.o-event-foldable-badge-ticket {
            border-left: 1px dashed black;
        }
    }

    .o-event-foldable-badge-font-small {
        font-size: .8rem;
    }

    .o-event-foldable-badge-bottom.o-event-foldable-badge-left {
        border-top: 1px dashed black;
        height: 148mm;

        p {
            margin: 0px;  // to match editor style (.oe-form-field-html p)
        }
    }

    .o-event-foldable-badge-bottom.o-event-foldable-badge-right {
        border-left: 1px dashed black;
        border-top:1px dashed black;
        height: 148mm;
        background: white;
    }

    .o-event-foldable-badge-ticket {
        background-repeat: no-repeat;
        background-image: url(/event/static/src/img/report_foldable_badge_background.png);

        .o-event-foldable-badge-ticket-wrapper {
            background-color: white;
            border: solid 1px #939393;
            border-radius: .7rem;
            margin: 0px 8px;
            padding: 10px 3px;
            font-size: 1.2rem;
            box-shadow: -3px 3px 9px 0px rgba(0,0,0,0.51);

            .o-event-foldable-badge-ticket-wrapper-top {
                min-height: 80mm;
            }

            .o-event-foldable-badge-event-name {
                color: $o-brand-verp;
            }

            .o-event-foldable-badge-font-faded {
                color: #939393;
            }

            .o-event-foldable-badge-barcode {
                min-height: 35mm;
            }
        }
    }

    .o-event-foldable-badge-step {
        position: absolute;
        padding: 3px 9px;
        top: 5mm;
        left: 0mm;
        border-radius: 50%;
        background-color: black;
        color: white;
    }
}
