.o_FormRenderer_chatterContainer {
    display: flex;
    background-color: $white;
    border-color: $border-color;

    .o-portal-chatter {
        width: 100%;

        .o-portal-chatter-header {
            text-align: center;
            vertical-align: middle;
        }

        div.o-portal-chatter-composer,
        div.o-portal-chatter-messages {
            div.media {
                gap: 10px;

                .o-portal-chatter-attachments {
                    margin-bottom: 1rem;
                    .o-portal-chatter-attachment {
                        .o-portal-chatter-attachment-delete {
                            @include o-position-absolute($top: 0, $right: 0);
                            opacity: 0;
                        }
                        &:hover .o-portal-chatter-attachment-delete {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .o-portal-chatter-avatar {
            width: 45px;
            height: 45px;
        }

        .o-portal-message-internal-off {
            .btn-danger {
                display: none;
            }
        }

        .o-portal-message-internal-on {
            .btn-success {
                display: none;
            }
        }
    }

    &.o-aside {
        flex-direction: column;

        .o-portal-chatter {
            .o-portal-chatter-header {
                padding-top: 1rem;
                padding-bottom: 2px;
            }

            .o-portal-chatter-composer, .o-portal-chatter-messages {
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }
    }
}

