.o-portal-project-rating {
    .thumbnail{
        height: 240px;
    }
    .o-top-partner-rating-image {
        height: 15px;
    }
    .o-top-partner-image {
        height: 30px;
        width: 30px;
    }
    .o-top-partner-feedback{
        word-wrap: break-word;
    }
    .o-vertical-separator {
        border-left: 1px solid #eeeeee
    }
    .o-rating-progress {
        margin-bottom: 10px;
    }
    .o-rating-count {
        display: inline-block;
        min-width: 22px
    }
    .o-smiley-no-padding-left {
        padding-left: 0;
    }
    .o-smiley-no-padding-right {
        padding-right: 0;
    }
    .o-lighter-smileys {
        opacity: 0.4
    }
}

.o-priority-star {
   display: inline-block;

   &.fa-star-o {
       color: $o-main-color-muted;
   }
   &.fa-star {
       color: $o-main-favorite-color;
   }
}

.o-status {
    display: block;
    background-color: gray('200');
    height: 12px;
    width: 12px;
    box-shadow: inset 0 0 0 1px rgba($black, .2);

    .dropdown-item > & {
        transform: translateX(-50%);
    }
}
