.o-kanban-view.o-kanban-dashboard.o-project-kanban {

    .o-project-kanban-main {
        max-width: 300px;

        // Prevents the kanban settings menu from overflowing and creating a scrollbar.
        .o-kanban-card-manage-pane .o-kanban-card-manage-section a {
            @extend .text-wrap;
        }
    }

    .o-project-kanban-boxes {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .o-project-kanban-box {
            position: relative;
            text-align: center;
            padding: 0 0 0 0;
            margin: 0 5px;

            &:first-child {
                 margin: 0 5px 0 0;
                 padding-left: 12px
             }

            .o-value {
                font-weight: 800;
            }

            > div {
                font-weight: 500;

                button.o-needaction {
                    font-size: small;
                    font-weight: 400;
                    margin-left: 4px;
                    @include o-hover-opacity(0.5, 1);

                    &:before {
                        content: "/ ";
                    }

                    &:after {
                        content: "\f086";
                        font: normal normal normal 14px/1 FontAwesome;
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .o-view-nocontent {
            top: 15%;
        }
    }

    .o-kanban-record {
        div[name="isFavorite"] .fa-star-o {
            visibility: hidden;
        }
        &:hover div[name="isFavorite"] .fa-star-o {
            visibility: visible;
        }
    }
}

.o-dow-widget {
    th {
        padding: 10px 10px 0 10px;
    }

    .o-dow-days {
        td {
            text-align: center;
            vertical-align: middle;
        }
    }
}
