.o-form-project-tasks div.o-field-many2many[name=dependOnIds] tr.o-selected-row td.o-list-button {
    background-color: $table-border-color !important;
}

.o-form-project-project, .o-form-project-tasks {
    .note-editable {
        border: 0;
        padding: 0;
    }
}

.o-form-view.o-form-project-tasks .o-notebook > .tab-content > .tab-pane > :first-child.oe-form-field-html .o-readonly {
    padding: $o-horizontal-padding $o-horizontal-padding;
}

.o-form-view.o-form-project-update:not(.o-form-readonly), .o-form-view.o-form-project-update:not(.o-form-readonly) .o-form-sheet {
    padding-bottom: 0;
    margin-bottom: 0;
}

.o-project-update-description {
    .note-editable, .o-wysiwyg-resizer {
        border: 0;
    }
    &.oe-form-field-html, .o-wysiwyg-wrapper {
        margin-bottom: 0;
    }
    &.oe-form-field-html .o-readonly {
        padding: $o-horizontal-padding $o-horizontal-padding;
    }
}

.o-form-view .btn.oe-stat-button.o-project-not-clickable {
    &:hover, &:focus {
        background-color: transparent;
        opacity: 0.8;
        color: $o-main-text-color;
    }
}

.o-form-project-tasks .o-project-task-project-field input::placeholder {
    color: darkred;
    font-style: italic;
}
