.o-status-bubble {
    @extend .o-status;

    @for $size from 2 through length($o-colors) {
        // Note: the first color is supposed to be invisible so it's ignored
        &.o-color-bubble-#{$size - 1} {
            background-color: nth($o-colors, $size);
        }
    }

    &.o-color-bubble-20 {
        background-color: $o-success;
    }
    &.o-color-bubble-21 {
        background-color: $o-info;
    }
    &.o-color-bubble-22 {
        background-color: $o-warning;
    }
    &.o-color-bubble-23 {
        background-color: $o-danger;
    }
}

.o-status-with-color {
    span {
        vertical-align: middle;
    }
    &.o-field-widget {
        span {
            display: inline-block;
        }
    }
}

.o-project-update-description a[type="object"] {
    cursor: pointer;
}

.o-kanban-view.o-pupdate-kanban {
    overflow: auto;
    &.o-kanban-ungrouped {
        padding:0px;
        .o-pupdate-kanban-card {
            width: 100%;
            margin: 0px;
            border-right: 0px;
            border-top: 0px;
            overflow: hidden;
            .o-kanban-detail-ungrouped {
                padding-left: $o-horizontal-padding - $o-kanban-color-border-width - $o-kanban-record-margin;
                > div {
                    display: grid;
                    align-items: center;
                }
                .o-pupdate-kanban-image {
                    width: 56px;
                    height: 56px;
                    top: 0px;
                    position: absolute;
                }
                .o-pupdate-name {
                    overflow-wrap: break-word;
                }
                .o-pupdate-kanban-actions-ungrouped {
                    button {
                        float: right;
                        margin: 4px;
                    }
                }
                .o-country-flag {
                    margin-right: 8px;
                }
            }
        }
    }

    .oe-kanban-color-20 {
        border-left-color: $o-success;
        &:after {
            background-color: $o-success;
        }
    }
    .oe-kanban-color-21 {
        border-left-color: $o-info;
        &:after {
            background-color: $o-info;
        }
    }
    .oe-kanban-color-22 {
        border-left-color: $o-warning;
        &:after {
            background-color: $o-warning;
        }
    }
    .oe-kanban-color-23 {
        border-left-color: $o-danger;
        &:after {
            background-color: $o-danger;
        }
    }
}

.o-kanban-project-tasks .o-field-many2manytags, .o-kanban-tags{
    margin: 0px;
}

.o-project-m2m-avatar {
    width: 20px;
    height: 20px;
    margin-right: -1px;
    display: inline-block;

    img {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        object-fit: cover;
        margin-right: 4px;
    }
}
